{% if messages %}
  {% for message in messages %}
    <h4 style="color:red;">{{ message|safe }}</h4>
  {% endfor %}
{% endif %}
<h2>Add question</h2>
<form method="POST" action="">
  {% csrf_token %}
  <p>Text</p>
  <textarea name="text" rows="8" cols="80"></textarea>
  <p>Weight</p>
  <select name="weight">
    <option value=1>5</option>
    <option value=1>6</option>
    <option value=1>7</option>
    <option value=1>8</option>
    <option value=1>9</option>
    <option value=1>10</option>
    <option value=1>11</option>
    <option value=1>12</option>
    <option value=1>13</option>
    <option value=1>14</option>
    <option value=1>15</option>
    <option value=1>16</option>
    <option value=1>17</option>
    <option value=1>18</option>
    <option value=1>19</option>
    <option value=1>20</option>
  </select>
  <br><br>
  <button type="submit" name="button">Add</button>
</form>
<br>
<a href="{% url 'home' %}">Home</a>
